$monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
//color
$cursive: 'Lobster',
cursive;
$title:'Press Start 2P',
cursive;
$emerald: #48ff89;
$orange: #ffbb00;
$blue: #42bcff;
$red: #ff5356;
$purple: #991581;
$agua: #17ffd6;
@mixin oval($diameter) {
    width: $diameter;
    height: $diameter;
    border-radius: 100%;
}

html,
body {
    height: 100%;
}

nav {
    background-color: #757575;
    min-height: 60px;
    margin: -10px 0px 0px -10px;
    padding-top: 10px;
    padding-left: 20px;
    color: #ECECEC;
    font-family: "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-size: 1.0em;
    //border-bottom: solid $orange 5px;
    box-shadow: 3px 3px #999;
    display: flex;
    display: -webkit-flex;
    //justify-content: space-around;
    align-items: center;
    p {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.title {
    text-shadow: 2px 2px #ff0000;
    font-size: 2em;
    text-shadow: 2px 2px #505050;
    font-size: 1.5em;
    width: 142px;
    color: #FBF692;
}

.selectBox {
    border: 1px solid #dddddd;
    background: none repeat scroll 0% 0% transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #dacc81;
    color: #FFF;
    font-weight: bold;
    font-size: 1.0em;
    height: 34px;
}

.selectBox:hover {
    color: #fff;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1037;
}

.mask {
    display: none;
    background: black;
    //height:100000px;
    //width:100000px;
    z-index: 1036;
    opacity: 0.5;
    position: absolute;
}

.helper {
    color: #91E07E;
    display: block;
    float: right;
    margin-left: 20px;
    text-decoration: underline;
    margin-bottom: -10px;
}

.helper:hover {
    color: #FBF692;
    cursor: pointer;
}

.white-popup {
    position: relative;
    background: #F0F0F0;
    padding: 25px;
    width: auto;
    max-width: 720px;
    margin: 0 auto;
    img {
        width: 100%
    }
    img[alt="popup window"] {
        height: 240px;
        width: 240px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    p>span {
        font-weight: 700;
    }
}

aside {
    height: 80%;
    #chart {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(103, 103, 103, 0.85);
        height: 480px;
        left: 48px;
        max-width: 400px;
        position: relative;
        top: 48px;
        z-index: 2;
    }
}

.owl-item {
    section {
        width: 95%;
        height: 360px;
        margin: 30px auto;
        p {
            text-align: center;
            font-weight: 700;
        }
    }
}

// Help section
#test-popup {}

//Popup tweet
.leaflet-popup-content {
    i {
        float: right;
        color: #c00;
        font-size: 18px;
        margin-bottom: 8px;
        cursor: pointer;
    }
}

#map {
    height: 94%;
    overflow: hidden;
}

// Overwirte the default style of Mapbox element.
.nv-axisMaxMin {
    color: #ffffff;
}

.marker-description {
    width: 400px;
    text-align: center;
    div {
        height: 120px;
        width: 300px;
    }
}
