$monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
//color
$cursive: 'Lobster',
cursive;
$title:'Press Start 2P',
cursive;
$emerald: #48ff89;
$orange: #ffbb00;
$blue: #42bcff;
$red: #ff5356;
$purple: #991581;
$agua: #17ffd6;
@mixin oval($diameter) {
    width: $diameter;
    height: $diameter;
    border-radius: 100%;
}

html,
body {
    height: 100%;
}

nav {
    background-color: #757575;
    min-height: 70px;
    margin: -10px 0px 0px -10px;
    padding-top: 10px;
    padding-left: 20px;
    color: #fff;
    font-family:"Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 1.2em;
    //border-bottom: solid $orange 5px;
    box-shadow: 3px 3px #999;
    display: flex;
    //justify-content: space-around;
    align-items: center;
    p{
        margin-top: 10px;
        margin-left:20px;
        margin-right:20px;
    }
}
.title{
	text-shadow: 2px 2px #ff0000;
	font-size: 2em;
	text-shadow: 2px 2px #505050;
	font-size: 1.5em;
	width: 142px;
	color: #FBF692;
}

aside {
    height: 80%;
    #chart {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(103, 103, 103, 0.85);
        height: 480px
;
        left: 48px;
        max-width: 400px;
        position: relative;
        top: 48px;
        z-index: 2;
    }
}

.owl-item {
    section {
        width: 95%;
        height: 360px;
        margin: 30px auto;
        p {
            text-align: center;
            font-weight: 700;
        }
    }
}

#map {
    height: 94%;
    overflow: hidden;
}

// Overwirte the default style of Mapbox element.
.nv-axisMaxMin {
    color: #ffffff;
}

.marker-description {
    width: 400px;
    text-align: center;
    div {
        height: 120px;
        width: 300px;
    }
}
